 * {
   background-color: rgb(255, 255, 255);
   margin-left: 5%;
   margin-right: 5%;
   text-decoration: none;
 }
/* body 기본 설정 */
 body {
   background-color: rgb(233, 233, 233);
   margin: 0;
   padding: 0;
 }
/* header, main, footer 기본 설정 */
 header {
   margin: 0;
   background-color: rgb(0, 0, 0);
 }

 main {
   background-color: rgb(233, 233, 233);
   margin: 0;
   padding: 0;
 }

 footer {
  background-color: rgb(218, 218, 218);
   margin: 0;
   padding: 0px 0px 100px 0px;
 }

/* header 상세 설정 */
.header-nav {
  background-color: rgb(0, 0, 0);
  margin: 0px;
  padding: 10px 0px 10px 20px;
  white-space: nowrap; /*강제 줄바꿈*/
  position: fixed; /*화면 맨 위쪽에 고정*/
  top: 0px;
  display: flex;
  width: 88.9%;
  z-index: 10;
}
 .header-nav ul{
   background-color: rgb(0, 0, 0);
   padding: 0px;
   display: flex;
   align-items: center; /*교차축 기준으로 가운데 정렬*/
   flex: 1; /*요소를 꽉 차게*/
 }
 .header-nav ul li {
  /* li들을 inline_block으로 설정 */
   display: inline-block;
   margin: 0;
   margin-right: 10px;
 }
.header-nav-ul{
  /* 주축기준으로 끝쪽 정렬 */
  justify-content: end;
}
 .header-nav ul {
   margin: 0;
   padding: 0;
 }
 .header-nav-firstmenu-left{
   background-color: rgb(0, 0, 0);
 }
 .header-nav-firstmenu-right {
   background-color: rgb(0, 0, 0);
  flex-wrap: nowrap; /*화면크기가 줄어도 한 줄로*/
 }
 form{
   margin: 20px 0px 0px 0px;
   padding: 35px 20px 0px 20px;
   color: white;
   background-color: black;
  }
  form h3{
    margin: 0px;
    padding-bottom: 10px;
    background-color: black;
  }
input{
    margin: 0px ;
    display: flex;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    font-size: 30px;
  }
a{
   background-color: black;
   color: white;
 }

 /* main 상세 설정 */
.main-nav-top ul li{
  background-color: black;
  display: inline-block;
  white-space: nowrap;
  margin: 0px 15px 0px 0px;
  padding: 0px;
 }
.main-nav-top{
  background-color: black;
  margin: 0;
  position: sticky; /*main이 위에서 50px에 도달하면 fixed처럼 동작*/
  top: 50px;
}
.main-nav-top ul{
  background-color: black;
  margin: 0;
  padding: 10px 10px 10px 20px;
  z-index: 5;
}
.main-section-top{
  display: flex;
  margin: 0;
  padding: 0;
}
main img{
  margin: 0;
}
main img:hover{
  transform: scale(1.1); /*이미지위에 마우스를 올려놓으면 확대*/
}
.main-nav{
  margin: 0px 20px 0px 20px;
}
.main-nav ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /*화면크기가 줄어들면 여러줄로 바꿈*/
  margin: 20px 0px 20px 0px;
  padding: 0px 0px 0px 20px;
  background-color: rgb(233, 233, 233);
}
.main-nav ul li{
  display: inline-block;
  margin: 0;
  white-space: nowrap;
  background-color: rgb(233, 233, 233);
  margin: 10px 10px 20px 0px;
}
.main-nav ul li a{
  background-color: rgb(255, 255, 255);
  color: black;
  margin: 0px 0px 20px 0px;
  padding: 10px;
  text-align: center;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 10px;
}
.main-section-item{
  margin-bottom: 50px;
}
.main-section-item h3{
  margin: 20px 0px 0px 0px;
  padding-bottom: 20px;
  background-color: rgb(233, 233, 233);
}
.main-section-item span h4,h5{
  margin: 5px 10px 5px 10px;
}
.main-section-item span{
  display: inline-block;
  margin: 0;
  width: 16.66%; /*그림 6개를 넣기 위해*/
}
.main-section-item img{
  width: 100%; /*부모요소의 넓이의 100%*/
}
.main-section-brand span h4,h5 {
  margin: 5px 10px 5px 10px;
}
.main-section-brand {
  margin-bottom: 50px;
}
.main-section-brand h3 {
  margin: 20px 0px 0px 0px;
  padding-bottom: 20px;
  background-color: rgb(233, 233, 233);
}
.main-section-brand span {
  display: inline-block;
  margin: 0;
  width: 16.66%;
}
.main-section-brand img {
  width: 100%;
}
.main-section-live {
  margin-bottom: 50px;
}
.main-section-live h3 {
  margin: 20px 0px 0px 0px;
  padding-bottom: 20px;
  background-color: rgb(233, 233, 233);
}
.main-section-live span h5{
  margin: 0;
}
.main-section-live span {
  display: inline-block;
  margin: 0;
  width: 16.66%;
}
.main-section-live img {
  width: 100%;
}

/* footer 상세 설정 */
.footer-nav ul{
  display: flex;
  list-style-type: none;
  margin: 0px 0px 50px 0px;
  padding: 30px 0px 0px 0px;
  background-color: rgb(218, 218, 218);
}
.footer-nav ul li{
  margin: 0px 20px 0px 0px;
  background-color:rgb(179, 179, 179);
  border-radius: 5px;
}
footer nav ul li a{
  background-color: rgb(179, 179, 179);
  color: rgb(70, 70, 70);
  margin: 5px;
}
.footer-section-first{
  background-color: rgb(218, 218, 218);
}
.footer-section-first h4{
  margin: 0px 0px 30px 0px;
  background-color: rgb(218, 218, 218);
  color: rgb(70, 70, 70);
}
.footer-section-second{
  background-color: rgb(218, 218, 218);
}
.footer-section-second h4 {
  margin: 0px 0px 10px 0px;
  background-color: rgb(218, 218, 218);
  color: rgb(70, 70, 70);
}
.footer-nav-sns ul{
  display: flex;
  list-style-type: none;
  margin: 30px 0px 0px 0px;
  padding: 0;
  background-color: rgb(218, 218, 218);
  height: 0px;
}
.footer-nav-sns ul li{
  margin: 0px 20px 0px 0px;
}
.footer-nav-sns ul li a{
  margin: 0;
  background-color: rgb(218, 218, 218);
}
.footer-nav-sns ul li img{
  width: 35px;
  height: 35px;
  background-color: rgb(218, 218, 218);
}

